
<html>

	<head>

		<title> Basic Todo List </title>

		
		<!-- main CSS style sheet -->
		<link rel="stylesheet" type="text/css" href="style.css">

		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<!-- loading our own Javascript -->
		<script src="script.js"></script>  

		<!-- boostrap CSS --> 
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- bootstrap javascript file -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


	</head>


	
	<body onload="displayTodos('<%= user %>')">


		<!-- Jumbotron title header -->
		<div class = "container">
		   <div class = "jumbotron" style="text-align:center;">
		      <h1> Simple Todo</h1>
		   </div>
		</div>

		<!-- Log out button -->
   		<div class="page-header text-center">
        	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
   		</div>

		<!-- Some user info for testing purposes -->
			 USER ID = <%= user %> <br> 
			 USER NAME = <%= username %>  <br>
			 PASSWORD = <%= password %> <br>
			 <%= todos %> <br>


		<!-- todo creation input box  -->
		<div class='mid'>

			 <form onSubmit="return false">

				<!-- input box -->
				<input style="margin-left: 175px;" name="task" placeholder="add new todo" >

				<!-- (hidden) passing in a creator property for the post request and giving it the value of the logged in user -->		
				<input style="margin-left: 175px; display: none" name="creator" value="<%= user %>" >		

				<!--can we do this better? by not passing in password in order to update ||| fine for now  -->
				<button type="button" onclick="submitTodo('<%= user %>', '<%= username %>', '<%= password %>', '<%= todos %>')" class="btn btn-success btn-sm"> Create </button>

			</form>
		</div>

		<!-- the actual list of todos -->
		<!-- <ul id="todoList" class="list-group mid"></ul> -->

		<ul id="todoList" class="list-group mid">
		<% if (todos) { %>
			 <% todos.forEach(function(task) { %>
				<li>
					<%= task %> 
				</li>
			<% }); %>
		<% }; %>
		</ul>


	</body>

</html>
